{{>header}}
<div class="container">
    <h1>Mis pintores favoritos</h1>
    {{#if pintores}}
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Corriente</td>
                <td>Nacionalidad</td>
                <td>Pintura</td>
            </tr>
        </thead>
        <tbody>
            {{#each pintores}}
            <tr>
                <td>{{_id}}</td>
                <td>{{nombre}}</td>
                <td>{{corriente}}</td>
                <td>{{nacionalidad}}</td>
                <td><img width="100px" height="100px" src="../images/{{pintura}}"></td>
            </tr>
        </tbody>
    </table>
    {{else}}

    {{/if}}
</div>
